@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&family=Rubik:wght@300;400;500;600&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

nav{
    width: 100%;
    height: 70px;
    background-color: rgb(231, 244, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px  5%;
    position: sticky;
    top: 0px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 7px rgba(196, 196, 196, 0.636);
}
nav a{
    text-decoration: none;
    color: rgb(45, 53, 69);
    font-size: 30px;
    font-weight: 600;
}
   #box{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }     
.card{
    width: 70%;
    height: 400px;
    background-color: rgb(247, 249, 255);
    box-shadow: 2px 2px 5px rgba(197, 197, 197, 0.745);
    padding: 15px;
    border-radius: 4px;
    margin: 20px 3%;
    cursor: pointer;
}

hr{
    width: 95%;
    border:1px solid rgb(0, 72, 255);
    align-self: center;
}

span{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border:none;
    color: rgb(247, 251, 255);
    border-radius: 4px;
}
#id{
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
    padding: 3px 5px;
}
.up{
    display: flex;
    padding-left: 5px;
    height: 40%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.date{
    font-size: 15px;
    font-weight: 600;
    min-width: 50%;
    padding-bottom: 50px;
}
.down{
    height: 60%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0px 2px 0px;
}
.fair{
    font-size: 17px;
    align-self: flex-end;
    font-weight: 600;
    padding-right: 20px;
}
.toLocation{
    font-size: 20px;
    font-weight: 600;
}
.fromLocation{
    font-size: 18px;
    font-weight: 500;
}

@media screen and (max-width :500px) {
    
    .card{
        width: 90%;
      
        
    }
    span{
        font-size: 15px;
        padding: 7px;
    }
    .date{
        font-size: 12px;
    }

    nav{
        height: 40px;
    }
    nav a{
        font-size: 20px;
    }
}